# Downloaded / built files (make-deb.sh recreates them)
/codium.deb
/dist/
/pkg/
/root/

node_modules/
*.log
.DS_Store
/downloads
/build
__pycache__/
*.pyc

# Written by install.sh: which branch/commit a build from the code came from ("Unreleased version · main")
extension/build.json
